<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dliberty.recharge.dao.mapper.TbRechargeCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dliberty.recharge.entity.TbRechargeCard">
        <id column="id" property="id" />
        <result column="card_no" property="cardNo" />
        <result column="secret_key" property="secretKey" />
        <result column="money" property="money" />
        <result column="is_use" property="isUse" />
        <result column="use_mobile" property="useMobile" />
        <result column="use_time" property="useTime" />
        <result column="qr_code_path" property="qrCodePath" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, card_no, secret_key, money, is_use, use_mobile, use_time, qr_code_path, is_deleted, create_user_id, create_time, update_time
    </sql>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO tb_recharge_card (card_no, secret_key, money, is_use, use_mobile, use_time, qr_code_path, is_deleted, create_user_id, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.cardNo},#{item.secretKey},#{item.money},#{item.isUse},#{item.useMobile},#{item.useTime},#{item.qrCodePath},#{item.isDeleted},#{item.createUserId},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

    <select id="listPage" resultType="com.dliberty.recharge.dto.RechargeCardDto">
        select
            <include refid="Base_Column_List" />
        from tb_recharge_card where is_deleted = 0
        <if test="vo.keyword != null and vo.keyword != ''">
            and (card_no like CONCAT('%',#{vo.keyword},'%') or use_mobile like CONCAT('%',#{vo.keyword},'%') )
        </if>
        <if test="vo.useFlag != null">
            and is_use = #{vo.useFlag}
        </if>
        <if test="vo.money != null">
            and money = #{vo.money}
        </if>

        <if test="vo.startDate != null">
            and create_time &gt;= #{vo.startDate}
        </if>

        <if test="vo.endDate != null">
            and create_time &lt;= #{vo.endDate}
        </if>
        order by id desc
    </select>

    <sql id="export_sql">
        <if test="keyword != null and keyword != ''">
            and (card_no like CONCAT('%',#{keyword},'%') or use_mobile like CONCAT('%',#{keyword},'%') )
        </if>
        <if test="useFlag != null">
            and is_use = #{useFlag}
        </if>
        <if test="money != null">
            and money = #{money}
        </if>

        <if test="startDate != null">
            and create_time &gt;= #{startDate}
        </if>

        <if test="endDate != null">
            and create_time &lt;= #{endDate}
        </if>
    </sql>
    <select id="queryForExport" resultType="com.dliberty.recharge.dto.ExportRechargeCardDto" parameterType="com.dliberty.recharge.vo.conditions.RechargeOrderQueryVo">
        select card_no, secret_key, money from tb_recharge_card where is_deleted = 0
        <include refid="export_sql" />
        order by id desc
        limit #{start, jdbcType=INTEGER} , #{pageSize , jdbcType=INTEGER}
    </select>

    <select id="exportCount" resultType="java.lang.Integer" parameterType="com.dliberty.recharge.vo.conditions.RechargeOrderQueryVo">
        select count(1) from tb_recharge_card where is_deleted = 0
        <include refid="export_sql" />
    </select>

</mapper>
